<%- include('header'); -%>

<section class="home mainPage">
    <div style="height: auto; width:auto; margin: auto; background-color: rgb(245, 236, 225); position: relative; top: 4.5rem; border: 2px solid black;" align="center">
        <h1 style="font-size: 5.2rem; color: rgb(0, 0, 0); font-weight: bold;" class="line-1 ">WELCOME TO INDIAN RAILWAYS</h1>
        <h3 >SAFETY | SECURITY | PUNCTUALITY</h3>
        </div>
</section>



<%- include('footer'); -%>