<%- include('header'); -%>
<section class="mainPage bookTrain">
    <form method="POST" action="/search-trains">
      <!--<div>-->
        <div class=" m-2 col-md-6">
          <label for="exampleInputEmail1" class="form-label" style="font-weight: bold; color: black; font-size:medium;">From: </label>
          <input type="text" class="form-control" name="from" aria-describedby="emailHelp"> 
          <!--
          <div class="row">
            <select  id="states" class=" m-2 mt-0 col-md-6 ">
              <option class="dropdown-item" value="Assam" >Assam</option>
              <option class="dropdown-item" value="Bihar">Bihar</option>
              <option class="dropdown-item" value="Delhi">Delhi</option>
              <option class="dropdown-item" value="Gujarat">Gujarat</option>
              <option class="dropdown-item" value="Punjab">Punjab</option>
              <option class="dropdown-item" value="Mumbai">Mumbai</option>
              <option class="dropdown-item" value="Shimla">Shimla</option>
            </select>
            </div>
          </div>-->
        </div>
        

      <!--<div>-->
        <div class="m-2 col-md-6">
            <label for="exampleInputEmail1" class="form-label" style="font-weight: bold; color: black; font-size:medium;">To: </label>
            <input type="text" class="form-control" name="to" aria-describedby="emailHelp"> 
            <!--
            <div class="row">
              <select  id="states" class=" m-2 mt-0 col-md-6 ">
                <option class="dropdown-item" value="Assam" >Assam</option>
                <option class="dropdown-item" value="Bihar">Bihar</option>
                <option class="dropdown-item" value="Delhi">Delhi</option>
                <option class="dropdown-item" value="Gujarat">Gujarat</option>
                <option class="dropdown-item" value="Punjab">Punjab</option>
                <option class="dropdown-item" value="Mumbai">Mumbai</option>
              </select>
              </div>           
            </div>-->
         </div>
          
        <div class="m-2 col-md-6">
            <label for="exampleInputEmail1" class="form-label" style="font-weight: bold; color: black; font-size:medium;">Date: </label>
            <input type="date" class="form-control" style="border: 1px solid black;" name="date" aria-describedby="emailHelp">
           
        </div>
        <div class="m-2 col-md-6">
          <label for="exampleInputEmail1" class="form-label" style="font-weight: bold; color: black; font-size:medium;">No. of passengers </label>
          <input type="number" class="form-control" style="border: 1px solid black;" name="nop" aria-describedby="emailHelp" placeholder="eg.- 1,2,..max(10)">
       </div>
        
        <div class="m-2 mt-3 col-md-6 form-check" style="font-weight: bold; color: black; font-size: medium;">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1" style="color: white;"> Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary m-2">Search trains</button>
      </form>
</section>

<%- include('footer'); -%>








<%- include('footer'); -%>