<%- include('header'); -%>
<section class="passengers paymentPage">    
<form action="/success" method="post">
  <div class="d-flex justify-content-center ml-0 mt-3 mr-0" style="width:500px;">
    <div class="card text-white bg-info signInBox border border-dark border-2 m-1" style="width: 25rem;">
      <div class="card-header text-center paymentHeader border border-dark border-1.5 m-1">PAYMENT</div>
      <div class="card-body border border-dark border-1.5 m-1">
      <div class="mb-3">
      <h3 style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; color: black; " >Your total amount is: <%= amt %></h3>
      <h3 style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; color: black;" >Choose mode of payment</h3>
      <div class="form-check">
        <input class="form-check-input mt-4" type="radio" name="mop" id="flexRadioDefault1" value="Debit/credit Card" style="font-size:larger">
        <label class="form-check-label mt-2" for="flexRadioDefault1" style="font-size:larger; color: black;">
        Debit/Credit Card 
        <i style="color:brown; margin-left: 5px;" class="fas fa-credit-card fa-2x"></i>
      </label>
      </div>
      <div class="form-check">
         <input class="form-check-input mt-4" type="radio" name="mop" id="flexRadioDefault2"  value="payPal" style="font-size:larger">
         <label class="form-check-label mt-2" for="flexRadioDefault2" style="font-size: larger;color: black; ">
         payPal 
         <i style="color: blue; margin-left: 98px;" class="fab fa-paypal fa-2x"></i>
        </label>
       </div>
      <div class="form-check">
         <input class="form-check-input mt-4" type="radio" name="mop" id="flexRadioDefault2"  value="E chalan" style="font-size:larger">
         <label class="form-check-label mt-2" for="flexRadioDefault2" style="font-size: larger; color: black;">
         E chalan
         <i style="color:peru;  margin-left: 83px;" class="fas fa-file-invoice-dollar fa-2x"></i>
         </label>
      </div>
      <button type="submit" class="btn btn-dark btn-lg btn-block text-center mt-4 col-sm-4 row-sm-1">Pay</button>
    </div>
  </div>
</div>
</form>
</section>
    
<%- include('footer'); -%>