<%- include('header'); -%>




<section class="pnr mainPage">
    <form action="/pnr" method="post">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Enter your pnr number: The contact number with with you booked the ticket</label>
            <input type="text" class="form-control" name="pnr" id="exampleFormControlInput1" placeholder="Enter">
          </div>
          <button type="submit">Submit</button>
    </form>
   
    
</section>









<%- include('footer'); -%>