<%- include('header'); -%>




<section class="pnr bookTrain" align="center" style="color: black;">
    <h1>PNR STATUS</h1>
    <form action="/pnr" method="post" align="center">
        <div class="my-5">
            <label for="exampleFormControlInput1" class="form-label" style="color: black; font-size: medium; font-weight: bold;">Enter your pnr number: The contact number with which you booked the ticket</label>
        </div>
        <div class="m-2 col-md-4" >
            <input type="text" class="form-control" name="pnr" id="exampleFormControlInput1" style="position: relative; left: 29rem;"placeholder="Enter">
        </div>
          <button type="submit" class="btn btn-primary m-2">Submit</button>
    </form>
   
    
</section>









<%- include('footer'); -%>