<%- include('headua'); -%>
<section class="register registerPage">
  <form class="row g-3" method="POST" action="/register">
    <div class="d-flex justify-content-center ml-6 mt-3 mr-0" style="width:400px;">
      <div class="card text-white bg-info signUpBox ml-5 pl-5">
        <div class="card-header text-center">SIGN UP</div>
        <div class="card-body">
        <div class="col-md-10">
            <label for="inputZip" class="form-label">Name: </label>
            <input type="text" class="form-control" id="inputZip" name="name">
        </div>
        <div class="col-md-10">
            <label for="inputEmail4" class="form-label">Email</label>
            <input type="email" name="username" class="form-control" id="inputEmail4">
        </div>
        <div class="col-md-10">
          <label for="inputPassword4" class="form-label">Password</label>
          <input type="password" name="password" class="form-control" id="inputPassword4">
        </div>
        <div class="col-12">
          <label for="inputAddress" class="form-label">Address</label>
          <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" name="address">
        </div>
        <div class="col-md-6">
          <label for="inputCity" class="form-label">City</label>
          <input type="text" class="form-control" id="inputCity" name="city">
        </div>
        <div class="col-md-4">
          <label for="inputState" class="form-label">State</label>
          <select id="inputState" class="form-select" name="state">
            <option selected>Choose...</option>
            <option>Delhi</option>
            <option>Bihar</option>
          </select>
        </div>
        <div class="col-md-4">
          <label for="inputZip" class="form-label">Zip</label>
          <input type="text" class="form-control" id="inputZip" name="zip">
        </div>
        
        <div class="col-12">
          <button type="submit" class="btn btn-dark mt-2">Sign in</button>
        </div>
        </div>
      </div>
      </form>
      
</section>



<%- include('footer'); -%>
